name: freya
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  http: ^1.0.0
  fhir_r5: ^0.4.0
  intl: ^0.20.2
  table_calendar: ^3.2.0
  flutter_secure_storage: ^9.0.0
  fitbitter: ^2.0.6
  provider: ^6.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
